{% extends 'base.html' %} 

{% block title %} Patient {{patient.name}}{% endblock%}

{% block content %}

<div class="container row">
    <div class="col">
        <h2>Patient Details</h2>
    </div>
    <div class="col">
        {% if session.logged_in %}
            <a class="btn btn-primary" href=""
                style="display: block; float: right">Edit</a>
        {% endif %}

    </div>
</div>

<table class="table">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{patient.name}}</td>
        </tr>
        <tr>
            <th scope="row">Email</th>
            <td>{{patient.email}}</td>
        </tr>
        <tr>
            <th scope="row">Gender</th>
            <td>{{patient.gender}}</td>
        </tr>
        <tr>
            <th scope="row">Phone Number</th>
            <td>{{patient.phoneno}}</td>
        </tr>
        <tr>
            <th scope="row">Blood Group</th>
            <td>{{patient.bloodgroup}}</td>
        </tr>
        <tr>
            <th scope="row">Address</th>
            <td>{{patient.address}}</td>
        </tr>
        <tr>
            <th scope="row">DOB</th>
            <td>{{patient.dob}}</td>
        </tr>
    </tbody>
</table>
<br><br>
<div class="container" style="border: 20px;border-radius : 20px;m">
    <div class="container row">
        <div class="col">
            <h2>Records</h2>
        </div>
        <div class="col">
        {% if session.logged_in %}
            <a class="btn btn-primary" href="{{ url_for('addsession' , _id = patient._id  ) }}"
                style="display: block; float: right;">Add Records</a>
        {% endif %}
        </div>
    </div>
    <br>
    {% for record in patient.session %}
        <div class="card">
            <h5 class="card-header ">{{record.subject}}</h5>
            <div class="card-body" style = "padding-top:10px;">
                <p style = "color: grey; font-size:small; padding-left:16px; margin:5px; display: block; float: right;">{{record.date}} - {{record.time}}</p>
                <h6 class="card-title"><a href = "{{url_for('detaildoctor' ,_id = record.doctor)}}" style = "text-decoration: none;">{{get_doctorname(record.doctor)}} </a> - <a style = "text-decoration: none;" href = "{{url_for('detailhospital', _id = record.hospital)}}">{{get_hospitalname(record.hospital)}}</a></h6>
                <hr>
                <p class="card-text">{{record.details}}</p>
            </div>
        </div>
        <br>
    {% endfor %}

</div>

{% endblock %}
