{% extends "base.html" %}
{% block title %} Verify Patient {% endblock %}
{% block content %}

<h1>View Patient</h1>

<form action="" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Patient Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Patient Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{% endblock %}